#loginformmodal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="exampleModalCenterTitle", aria-hidden="true")
  .modal-dialog.modal-dialog-centered(role="document")
    .modal-content
      .modal-header
        h5#exampleModalCenterTitle.modal-title Log In
        button.close(type="button", data-dismiss="modal", aria-label="Close")
          span(aria-hidden="true") ×
      .modal-body
    
