nav(class="navbar navbar-dark bg-dark")
    a(class="navbar-brand",href="/") Translite Killer
    button(class="navbar-toggler" type="button",data-toggle="collapse",data-target="#navbarTogglerDemo02",aria-controls="navbarTogglerDemo02",aria-expanded="false",aria-label="Toggle navigation")
        span(class="navbar-toggler-icon")
    div(class="my-2 my-lg-0")
        button(class="btn btn-outline-success my-2 my-sm-0",data-toggle="modal",data-target="#loginformmodal") Login
        button(class="btn btn-outline-success my-2 my-sm-0",data-toggle="modal",data-target="#registerformmodal") Registration